/* ============== Responsive styles ================= */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* mountains */
  .mountains .mountains-bg {
    height: 400px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .carousel.slide {
    max-height: 460px;
  }
  .carousel .carousel-item {
    height: 460px;
  }

  /* mountains */
  .mountains .mountains-bg {
    height: 500px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel.slide {
    max-height: 560px;
  }
  .carousel .carousel-item {
    height: 560px;
  }
  /* mountains */
  .mountains .mountains-bg {
    height: 600px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .carousel.slide {
    max-height: 660px;
  }
  .carousel .carousel-item {
    height: 660px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .carousel.slide {
    max-height: 860px;
  }
  .carousel .carousel-item {
    height: 860px;
  }
}
