/* ============== Responsive styles ================= */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* *********** start for HOME page ************ */
  /* mountains */
  .mountains .mountains-bg {
    height: 400px;
  }
  /* *********** end for HOME page ************ */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .carousel.slide {
    max-height: 460px;
  }
  .carousel .carousel-item {
    height: 460px;
  }

  /* *********** start for HOME page ************ */
  /* mountains */
  .mountains .mountains-bg {
    height: 500px;
  }

  /* signature */
  .signature h2 {
    font-size: 2rem;
  }
  /* *********** end for HOME page ************ */

  /* *********** start for PRODUCT-COLLECTION page ************ */
  .banner-product-collection {
    grid-template-columns: 2fr 1fr;
  }
  /* *********** end for PRODUCT-COLLECTION page ************ */

  /* *********** start for PRODUCT-DETAILS page ************ */
  .some-taste {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .athlete-stories .content article {
    position: absolute;
  }
  /* *********** end for PRODUCT-DETAILS page ************ */

  /* *********** start for IMPACT page ************ */
  .plant-pow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* *********** end for IMPACT page ************ */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel.slide {
    max-height: 560px;
  }
  .carousel .carousel-item {
    height: 560px;
  }
  /* mountains */
  .mountains .mountains-bg {
    height: 600px;
  }

  /* *********** start for HOME page ************ */
  /* co-founders */
  .co-founders {
    margin-top: 650px !important;
  }

  /* signature */
  .signature h2 {
    font-size: 2.8rem;
  }
  /* *********** end for HOME page ************ */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .carousel.slide {
    max-height: 660px;
  }
  .carousel .carousel-item {
    height: 660px;
  }

  /* *********** start for HOME page ************ */
  /* co-founders */
  .co-founders {
    margin-top: 700px !important;
  }
  /* *********** end for HOME page ************ */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .carousel.slide {
    max-height: 860px;
  }
  .carousel .carousel-item {
    height: 860px;
  }

  /* *********** start for HOME page ************ */
  /* co-founders */
  .co-founders {
    margin-top: 750px !important;
  }
  /* *********** end for HOME page ************ */
}
