/* configure fonts */

@font-face {
  font-family: "Crique Grotesk";
  src: url("../font/CriqueGrotesk.eot");
  src: local("Crique Grotesk"), local("CriqueGrotesk"),
    url("../font/CriqueGrotesk.eot?#iefix") format("embedded-opentype"),
    url("../font/CriqueGrotesk.woff2") format("woff2"),
    url("../font/CriqueGrotesk.woff") format("woff"),
    url("../font/CriqueGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Crique Grotesk";
  src: url("../font/CriqueGrotesk-Bold.eot");
  src: local("Crique Grotesk Bold"), local("CriqueGrotesk-Bold"),
    url("../font/CriqueGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/CriqueGrotesk-Bold.woff2") format("woff2"),
    url("../font/CriqueGrotesk-Bold.woff") format("woff"),
    url("../font/CriqueGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --rs-orange: #ee712e;
  --rs-black: #484749;
}

/* default fontStyle */
body {
  font-family: "Crique Grotesk";
  color: var(--rs-black);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--rs-black);
}
a:hover {
  color: var(--rs-orange);
}

/* change bootstrap default style  */

.toggle-icon {
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
}
.toggle-icon img {
  width: 100%;
}

/* start main style */
header nav {
  margin-bottom: -4rem;
  z-index: 10;
}
