/* configure fonts */

@font-face {
  font-family: "Crique Grotesk";
  src: url("../font/CriqueGrotesk.eot");
  src: local("Crique Grotesk"), local("CriqueGrotesk"),
    url("../font/CriqueGrotesk.eot?#iefix") format("embedded-opentype"),
    url("../font/CriqueGrotesk.woff2") format("woff2"),
    url("../font/CriqueGrotesk.woff") format("woff"),
    url("../font/CriqueGrotesk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Crique Grotesk";
  src: url("../font/CriqueGrotesk-Bold.eot");
  src: local("Crique Grotesk Bold"), local("CriqueGrotesk-Bold"),
    url("../font/CriqueGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/CriqueGrotesk-Bold.woff2") format("woff2"),
    url("../font/CriqueGrotesk-Bold.woff") format("woff"),
    url("../font/CriqueGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* default fontStyle */
body {
  font-family: "Crique Grotesk";
}

/* change bootstrap default style  */
.carousel-caption {
  top: 50%;
  transform: translateY(-30%);
}
.carousel .carousel-item {
  height: 860px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
.toggle-icon {
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
}
.toggle-icon img {
  width: 100%;
}

/* start main style */
header nav {
  margin-bottom: -4rem;
  z-index: 10;
}
